
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GmapsTurbolinksDemo</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <% # gmaps4rails_api_script_tags %>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><%= link_to "Demo", root_path %></li>
          <li><a href="#">Github</a></li>
        </ul>
        <h3 class="text-muted">Gmaps Turbolinks Demo</h3>
      </div>
      
      <%= yield %>

      <div class="footer">
        <p>
          <a href="https://github.com/fiedl">fiedl</a>, 
          Sep 2013
        </p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <%= yield :scripts %>
  </body>
</html>

